@model GroupProject1025.Models.DevNotice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DevNotice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevTaskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevTaskId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
