@model GroupProject1025.Models.DevTask

@{
    ViewBag.Title = "CommentTask";
}

<h2>Comment Task</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TaskTitle)
    @Html.HiddenFor(model => model.Content)
    @Html.HiddenFor(model => model.DevProjectId)
    @Html.HiddenFor(model => model.ApplicationUserID)
    @Html.HiddenFor(model => model.PlanStartDate)
    @Html.HiddenFor(model => model.PlanEndDate)
    @Html.HiddenFor(model => model.ActualStartDate)
    @Html.HiddenFor(model => model.ActualEndDate)
    @Html.HiddenFor(model => model.Deadline)

    @Html.HiddenFor(model => model.Percentage)

    @Html.EditorFor(model => model.IsCompleted)
    @Html.HiddenFor(model => model.Priority)
    @Html.HiddenFor(model => model.IsNoticed)
    @Html.HiddenFor(model => model.NoticeDate)
    @Html.HiddenFor(model => model.NoticeTimes)

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Desktop", "Desktop")
</div>
